@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.navbar-brand, h1, h2, h3, h4 {

  font-family: 'Jeju Gothic';

}

h5 {

  font-family: 'Jeju Gothic';
  font-size: 18px;

}

body {

  font-family: 'Nanum Gothic';

}

.nav-link{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: white !important;
}

.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
